:root {
  --primary-color: #ffb801;
  --secondary-color: #c4c4c4;
  --secondary-color-hover: #b7b7b7;
  --font-color: #000000;
  --font-color-secondary: #333333;
  --bg-color: #ffffff;
  // --link-bg-color-hover: hsl(0, 0%, 98%);
  // --active-link-bg-color: hsl(0, 0%, 96%);
  // --active-link-bg-color-hover: hsl(0, 0%, 94%);
  // --heading-color: hsl(0, 0%, 4%);
  // --sub-heading-color: hsl(0, 0%, 29%);
  // --border-color: hsl(0, 0%, 75%);
  // --progress-color: hsl(0, 0%, 90%);
}
